<%- include('partials/header') -%>

Show one specific lesson and let you edit like save copy and more.


<h2>Title: <%=lesson.bookTitle%></h2>
<h4>Author: <%=lesson.bookAuthor%></h4>
<h4>Type: <%=lesson.vocabSkill%></h4>
<h4>Type: <%=lesson.lessonIntro%></h4>
<h4>Type: <%=lesson.lessonActivity%></h4>

<span>Thanks <%=lesson.user%>, <%=user.userName%> for sharing</span>


<%- include('partials/footer') -%>
