<%- include('partials/header') -%>

  <%if(user){%>
  
    <%if(user.userName.toString()==author.userName.toString()){%> 
      
    <div class="loggedin">
            <h3>Thanks <b class="highlight2"><%=author.userName%></b> for sharing this lesson with the community.</h3>
            <div class="loggedin_buttons">
                <a href="<%= lesson._id %>/editLesson"><button> Edit <i class="fa-solid fa-pen-to-square"></i></button></a>
                <form
                  action="/lessons/deleteLesson/<%= lesson.id %>?_method=DELETE"
                  method="POST">
                  <button type="submit" onclick= "return confirm('Are you sure you want to delete this lesson?')")>Delete <i class="fa-solid fa-delete-left"></i></button>
                </form>
            </div>
    </div>
    <%}%>
  
 <% }%>
 
 <section class="library">
  <li>
    <h4 id="message">
      <a href="https://www.youtube.com/results?search_query=<%=lesson.bookTitle%>++read+aloud" target="_blank"><button><i class="fa-brands fa-youtube"></i> Read on Youtube</button></a>
      <button onclick="copyDivToClipboard()"><i class="fa-regular fa-copy"></i> Copy to Clipboard</button>
    </h4>
  </li>  

 <section class="lesson_expanded">
  <form>
    <input type="button" class='btn-return' value="Return to Browsing" onclick="history.back()">
   </form>
    <div id="copyMe">
          <div class="bookinfo_expanded">
                <h2 class="lesson_title"><%=lesson.bookTitle%> - <%=lesson.bookAuthor%></h2>
          </div>
          <div class="lessoninfo">
                <h4 class="lesson_vocabSkill"><b>Skill:</b> <%=lesson.vocabSkill%></h4>
                <h4 class="longdescription"><b class="highlight">Lesson Introduction:</b> <%=lesson.lessonIntro%></h4>
                <h4 class="longdescription"><b class="highlight">Journal Activity:</b> <%=lesson.lessonActivity%></h4>
                <span>Thanks to <b class="highlight"><%=author.userName%></b> for sharing this lesson.</span>
         </div>
          
    </div>
  
  
</section>
</section>


<%- include('partials/footer') -%>



  <script>
      function copyDivToClipboard() {
          var range = document.createRange();
          range.selectNode(document.getElementById("copyMe"));
          window.getSelection().removeAllRanges(); // clear current selection
          window.getSelection().addRange(range); // to select text
          document.execCommand("copy");
          window.getSelection().removeAllRanges();// to deselect
          alert('Lesson is on your clipboard. Happy planning!')
      }
  </script>