<%- include('partials/header') -%>


  <script type="text/javascript">
  let currentVocabFilter 

  function setVocabValue(value)
  {
    
    currentVocabFilter = (value.options[value.selectedIndex].text);
    filterByVocab()
  }
  </script>


<section class="lessonFilterOptions">
  <h2> Filter by vocab skill: </h2>
  <select name="vocabSkill" id="vocabSkill" onchange="setVocabValue(this)">
    <option value="value" selected>Choose a skill</option>
    <option value="antonyms">Antonyms</option>
    <option value="compoundWords">Compound Words</option>
    <option value="contextClues">Context Clues</option>
    <option value="greekAndLatinRoots">Greek and Latin Roots</option>                   
    <option value="idioms">Idioms</option>
    <option value="multipleMeaningWords">Multiple Meaning Words</option>
    <option value="prefixesAndSuffixes">Prefixes and Suffixes</option>
    <option value="shadesOfMeaning">Shades of Meaning</option>
    <option value="synonyms">Synonyms</option>
  </select>
</section>
  
  <section class="lessonFilterOptions"> 
    <h2> Filter by book title: <input id="search" type="search" placeholder="Filter by Title"> </h2>
  </section>

<section>



</section>


        <ul>
          
          <section class="library">
            <li>
              <h4 id="empty"> Browse all <%= lessons.length === 1 ? lessons.length + ' lesson:'  :  lessons.length + ' lessons:' %> </h4>
            </li>  
              <%lessons.reverse().forEach(lesson=>{ %>  
                  <li>
                    <a href="/lessons/<%=lesson._id%>">
                     <section class="lesson_collapsed">
                      <div class="bookinfo">
                        <h1 class="lesson_title"><%=lesson.bookTitle%> </h4>
                        <h4 class="lesson_by" > - </h4>
                        <h4 class="lesson_author"><%=lesson.bookAuthor%></h4>
                      </div>
                      <div class="lessoninfo">
                        <h4 class="lesson_author">Shared by: <span class="highlight"><%=lesson.user%> 
                         <% authors.forEach(author => author._id === lesson.user) %>
                        
                        
                        
                        </span></h4>
                        <h4 class="lesson_vocabSkill">Vocabulary Skill: <span class="highlight"><%=lesson.vocabSkill%></span></h4>
                     
                        <div class="shortdescription">
                             <p>
                            <!-- This checks if the string is longer than 199 and adds an ellipse or it displays the whole thing-->
                            <%= lesson.lessonIntro.substring(0,200).length > 199 ? lesson.lessonIntro.substring(0,200) + '...' : lesson.lessonIntro.substring(0,200) %>  </p>
                        </div>
                        <a class="highlight readmore" href="/lessons/<%=lesson._id%>">Click to Read More</a>
                      </div> 
                  </section>
                </a>
              <%})%>              
                </li>  
                      
          </ul>
        </section>

          <script>
            let input = document.getElementById("search")
            //console.log(input)
            input.addEventListener('keyup', filterByTitle)
            
            function filterByTitle(){
              let section=document.querySelectorAll('.lesson_collapsed')
              let txtValue;
              let filter = input.value.toUpperCase();
              let title = document.querySelectorAll('.lesson_title')
              let empty=document.getElementById('empty')
            
              //console.log(filter,title)

              for (i = 0; i < title.length; i++) {
                txtValue=title[i].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                  section[i].style.display = "";
                } else {
                    section[i].style.display = "none";
                }
                empty.innerHTML = 'Browse lessons matching ' + filter + ' .'
              }
            }

            function filterByVocab(){
            let section=document.querySelectorAll('.lesson_collapsed')
            let empty=document.getElementById('empty')
              let txtValue;
              let filter = currentVocabFilter.toUpperCase();
              let skill = document.querySelectorAll('.lesson_vocabSkill')
              //console.log(skill)
              let filteredCount = 0

              if (filter == "CHOOSE A SKILL") {
                for (i = 0; i < skill.length; i++) {
                  section[i].style.display = "";
              }
              empty.innerHTML = skill.length === 1 ? 'Browse all ' + skill.length + ' lesson:'  :  'Browse all ' + skill.length + ' lessons:'
              return
            }
              for (i = 0; i < skill.length; i++) {
                txtValue=skill[i].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                  section[i].style.display = "";
                  filteredCount++
                } else {
                    section[i].style.display = "none";
                }
              }
              
              console.log(skill)
              if (filteredCount === 0) {
                empty.innerHTML = 'No lessons found for ' + filter + ' .'
              } else if (filteredCount === 1) {
                empty.innerHTML = 'Browse ' + filteredCount + ' lesson for ' + filter + ':'
              } else {
                empty.innerHTML = 'Browse ' + filteredCount + ' lessons for ' + filter + ':'
              }

            }

            </script>
  
  
<%- include('partials/footer') -%>


