<%- include('partials/header') -%>

<section class="dashboard">
  <p><i class="fa-solid fa-life-ring"></i> Welcome to Your Dashboard:<%= user.userName %></p>

      <section class="dashboard-options">
        <div class="dashboard-options_box"><h3>Create a Lesson</h3><i class="fa-solid fa-pencil"></i></div>
        <div class="dashboard-options_box"><h3>Saved Lessons</h3><i class="fa-solid fa-anchor"></i></i></div>
        <div class="dashboard-options_box"><h3>Browse All</h3><i class="fa-solid fa-fish"></i></div>
      </section>      
</section>
<h1>Browse  <%= user.userName.toUpperCase() %>'S LESSONS</h1> 



<section>

  <a href="/" style="color:blue;">
    
    <%lessons.reverse().forEach(lesson=>{ %>    
                  <h2>Title: <%=lesson.bookTitle%></h2>
                  <span>Author: <%=lesson.bookAuthor%></span>
                  <h4>Type: <%=lesson.vocabSkill%></h4></a>
         
                  <%})%>
</section>
          
  

















    
            <h2>Share a lesson:</h2>
            <form action="/lessons/createLesson" method="POST">
              <div>
                  <label for="bookTitle">Book Title</label>
                  <input type="text" id="bookTitle" name="bookTitle">
              </div>
              <div>
                <label for="bookAuthor" >Author</label>
                <input type="text" id="bookAuthor" name="bookAuthor">
              </div>
              <div>
                   <label for="vocabSkill">Choose a vocabulary skill:</label>
                          <select name="vocabSkill" id="vocabSkill">
                            <option value="antonyms">Antonyms</option>
                                <option value="compoundWords">Compound Words</option>
                                <option value="contextClues">Context Clues</option>
                                <option value="greekAndLatinRoots">Greek and Latin Roots</option>                   
                                <option value="idioms">Idioms</option>
                                <option value="multipleMeaningWords">Multiple Meaning Words</option>
                                <option value="prefixesAndSuffixes">Prefixes and Suffixes</option>
                                <option value="shadesOfMeaning">Shades of Meaning</option>
                                <option value="synonyms">Synonyms</option>                                        
                          </select>
              </div>
              <div>
                <label for="lessonIntro">Book Introduction</label>
                <textarea id="lessonIntro" name="lessonIntro"></textarea>
              </div>
              <div>
                <label for="lessonActivity">Journal Activity</label>
                <textarea id="lessonActivity" name="lessonActivity"></textarea>
              </div>
              <button type="submit">Submit</button>
            </form>
 


<%- include('partials/footer') -%>